.navbar{
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 20% 40% 20%;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0px 0px 10px gray;
}
.Logo{
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    font-weight: 800;
    color: gray;
}
.nav-iteams{
    display: flex;
    gap: 20px;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
}
i{
    margin-left: 30px;
    color: gray;
    cursor: pointer;

}
.forhover:hover{
    color: blue;
}
i:hover{
    color: blue;
}
.home{
    color: blue;
}